<!-- category-form.component.html -->
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input matInput id="name" name="name" formControlName="name">
      <mat-error *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched">
        name is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>budgeted amount</mat-label>
      <input matInput id="budgetedAmount" name="budgetedAmount" type="number" step="0.01" formControlName="budgetedAmount">
      <mat-error *ngIf="categoryForm.get('budgetedAmount')?.invalid && categoryForm.get('budgetedAmount')?.touched">
        budgeted amount is required.
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button *ngIf="isCreate" type="submit" [disabled]="categoryForm.invalid || isLoading">create</button>
  <button mat-raised-button *ngIf="isEdit" type="submit" [disabled]="categoryForm.invalid || isLoading">update</button>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage">
    {{ successMessage }}
    <a [routerLink]="['/', userId, budgetId]">back to budget</a>
  </div>  
</form>  