/* category-form.component.css */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
}

form {
  width: 100%;
  max-width: 400px;
}

.error-message {
  color: red;
  margin-top: 15px;
}
