<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="category">Category</label>
    <select id="category" formControlName="category">
      <option *ngFor="let category of categories" [value]="category.toLowerCase()">{{ category }}</option>
    </select>
    <p *ngIf="expenseForm.get('category')?.hasError('required') && expenseForm.get('category')?.touched">
      Please specify category.
    </p>
  </div>
  <div>
    <label for="amount">Amount</label>
    <input id="amount" type="number" formControlName="amount">
    <p *ngIf="expenseForm.get('amount')?.hasError('required') && expenseForm.get('amount')?.touched">
      Please specify amount.
    </p>
  </div>
  <div>
    <label for="date">Date</label>
    <input id="date" type="date" formControlName="date">
    <p *ngIf="expenseForm.get('date')?.hasError('required') && expenseForm.get('date')?.touched">
      Please specify date.
    </p>
  </div>
  <div>
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="20" rows="5" formControlName="description"></textarea>
  </div>
  <button type="submit" [disabled]="expenseForm.invalid || isLoading">Add Expense</button>
  <div *ngIf="isLoading">Submitting...</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage">{{ successMessage }}</div>
</form>
