<!-- budget-form.component.html -->
<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input matInput id="name" name="name" formControlName="name">
      <mat-error *ngIf="budgetForm.get('name')?.invalid && budgetForm.get('name')?.touched">
        name is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>money pool</mat-label>
      <input matInput id="moneyPool" name="moneyPool" type="number" step="0.01" formControlName="moneyPool">
      <mat-error *ngIf="budgetForm.get('moneyPool')?.invalid && budgetForm.get('moneyPool')?.touched">
        money pool is required.
      </mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit" [disabled]="budgetForm.invalid || isLoading">create</button>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage">
    {{ successMessage }}
    <a [routerLink]="['/', userId, budgetId]">back to budget</a>
  </div>  
</form>