<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <div class="header">
      <h1 class="app-name">budgetr</h1>
      <h2 class="date">{{ today | date: 'fullDate' | lowercase }}</h2>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="./budget" routerLinkActive="active-link" matTooltip="budget">
        <mat-icon matListItemIcon>account_balance_wallet</mat-icon>
        <span>budget</span>
      </a>
      <a mat-list-item routerLink="./expenses" routerLinkActive="active-link" matTooltip="expenses">
        <mat-icon matListItemIcon>list</mat-icon>
        <span>expenses</span>
      </a>
      <a mat-list-item matTooltip="logout">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span>logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>